*{
    font-family: nunito;
    

    
}
.container1{
    position: relative;
    background-image: url('meet1.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgb(73, 226, 43);
    height: 400px;

    
}
.subcon1{
    position: absolute;
    height: 100px;
    top: 50px;
    left: 510px;
    padding: 50px;
    font-size: 25px;
    color: ivory;
}
.subcon2{
    position: absolute;
    height: 120px;
    width: fit-content;
    top: 65px;
    padding: 50px;

}
.container2{
    box-sizing: border-box;
    height: 800px;
    width: 100%;
    background-color: white;
    padding: 50px;
    font-family: nunito;

}
.left1{
    height: 100%;
    width: 50%;
    background-color: violet;
    float: left;
    padding: 0 0 100px 100px;
    box-sizing: border-box;
    
}
.right1{
    height: 100%;
    width: 50%;
    background-color: yellow;
    float: right;
    overflow-x: hidden;
    letter-spacing: 3PX;

}
.box{
    display: flex;
}
.column{
    background-color: ivory;
    width: 33.3%;
    padding: 10px 10px 10px 10px;
}
.container3{
    box-sizing: border-box;
    background-color: #F5F5F5;
    width: 100%;
    padding: 50px 100px;
    height: 700px;
    text-align: center;
    opacity: 0.9;
}
.column1{
    background-color: ivory;
    width: 33.3%;
    padding: 15px 15px 15px 15px;
}




